@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Hide scrollbar globally */
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}
body,
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for carousels */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}